*{
    color: rgba(255, 255, 255, 0.864);
    transition: all 0.3s ease-in-out;
}
body {
    background-image: url(./particlesjs-examples.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.startButton:hover {
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.758);
    transform: rotate(360deg);
}
input {
    background-color: rgba(255, 255, 255, 0.19);
    border: none;
    outline: none;
    border-radius: 10px;
}
#hero {
    height: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.main {
    width: 90vw;
    height: 80%;
    display: none;
}
.main div {
    padding: 5px;
}
header {
    text-align: center;
    font-size: 2.5rem;
    width: 90vw;
    font-family: 'Monoton', sans-serif;
    font-weight: lighter;
}
h1 {
    font-weight: normal;
}
.startGame {
    display: flex;
    width: 100%;
    justify-content: center;
    width: 90vw;
}
.startButton {
    margin-top: 50px;
    /* border: 3px solid; */
    border-radius: 100px;
    opacity: 0.9;
    transition: all 0.5s ease-in-out;
}
.response {
    margin: 10px;
    text-align: center;
    font-size: 1.1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.word {
    margin: 10px;
    text-align: center;
    font-size: 1.5rem;
}
.guesscnt {
    margin: 10px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.wrongGuesses {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 0px 10px;
    text-align: center;
    height: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.user-input {
    margin: 10px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input {
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}
.submit {
    padding: 10px;
    margin: 5px;
    font-size: 1.1rem;
}
.reset {
    padding: 10px;
    margin-bottom: 10px;
    display: none;
}
.over, .won {
    display: none;
    font-size: 2.5rem;
    text-align: center;
    margin: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 710px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    header {
        margin: 10px;
    }
    header, .over {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 425px) {
    header, .over {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 360px) {
    header , .over {
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 300px) {
    header , .over {
        font-size: 1.2rem;
    }
    .main div {
        padding: 3px;
    }
    .input {
        margin: 10px;
    }
}
