* {
    transition: all 0.1s ease-in-out;
}

:root {
    --clr-foreground: #FFF3F3;
    --clr-background: #ffd8c9;
    --clr-accent: rgb(255, 170, 124);
    --clr-input: #ffffff;
    --clr-checked: #c3c3c376;
    --clr-checkbox: rgba(255, 170, 124, 0.3);
}

::selection {
    background-color: var(--clr-accent);
    color: white;
}

.taskMsg:focus-visible {
    border: none;
    outline: none;
    outline-color: var(--clr-input);
}

.inside:hover {
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.5);
}

#task:focus-visible {
    outline-color:  rgba(255, 170, 124, 0.7);
    box-shadow: 0 0 5px  rgba(255, 170, 124, 0.7);
}

input:checked {
    accent-color: var(--clr-checkbox);
    border-color: black;
}

header {
    font-family: 'Rubik Doodle Shadow';
    font-size: 2rem;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--clr-background);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#hero{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.main {
    border-radius: 10px;
    width: 70vw;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.3);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--clr-foreground);
}
.user-input {
    width: 99%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    flex-direction: column;
}

input {
    background-color: var(--clr-input);
    border-radius: 5px;
    border: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    display: block;
    transition: none;
}

.add-task {
    padding-top: 2px;
    width: 90px;
    height: 30px;
    background-color: var(--clr-accent);
    border: none;
}

.task-input {
    width: 99%;
    height: 35px;
    align-self: center;
}

.tasks {
    display: flex;
    width: 100%;
    margin: 10px;
}

.taskBox{
    border-radius: 10px;
    width: 100%;
    padding:2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-foreground); 
}

.inside {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--clr-input); 
    box-shadow: 0 0 5px  rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    text-decoration: none;
}

.check {
    padding:  0px 0px 0px 10px;
    z-index: 10;
    /* border: 1px solid; */
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.taskMsg {
    padding: 20px 10px;
    padding-left: 0px;
    text-align: justify;
    width: 100%;
    /* border: 1px solid red; */

}

.buttons {
    display: flex;
    height: 100%;
    width: 150px;
    align-items: center;
}

.inside input{
    display: block;
    height: 40px;
    margin-left: auto;
    margin-right: 10px;
}
.edit {
    width: 50px;
}


@media screen and (max-width: 1100px) {
    .main {
        width: 80vw;
    }
}

@media screen and (max-width: 600px) {
    .main {
        width: 85vw;
    }
}

@media screen and (max-width: 279px) {
    
    .main {
        width: 85vw;
        display: none;
    }
}
