* {
    transition: all 0.4s ease-in-out;
}
body {
    background-color: darkslategrey;
    user-select: none;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: rgb(28, 47, 47); */
    background-image: url(./particlesjs-examples.gif);
}
#hero {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* position: relative; */
}
header {
    /* padding: 5%; */
    font-size: 1.8rem;
    /* border: 1px solid rgb(123, 10, 10); */
    text-align: center;
    /* font-size: 2.5rem; */
    width: 90vw;
    font-family: 'Monoton', sans-serif
}
h1 {
    font-weight: lighter;
}
.board {
    width: 50vw;
    height: 50vw;
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
}
.boxes {
    width: 32%;
    height: 32%;
    border: 2px solid rgba(255, 255, 255, 0.571);
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: all 0.2s ease-in-out;
    font-size: 1.5em;
}
.boxes:hover {
    /* box-shadow: 0px 0px 5px; */
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
.box1 ,.box2 ,.box3 {
    border-top: none;
}
.box7 ,.box8 ,.box9 {
    border-bottom: none;
}
.box1 ,.box4 ,.box7 {
    border-left: none;
}
.box3 ,.box6 ,.box9 {
    border-right: none;
}
.marked {
    background-color: rgba(255, 0, 0, 0.192);
}
/* .win {
    position: absolute;
    top: 30%;
}
.winMsg {
    display: none;
} */
.indicator {
    display: none;
}
.start {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 10%;
    opacity: 0.9;
    /* width: 90vw;
    height: 90vw; */
    /* display: none; */
}
.start:hover {
    box-shadow: 0px 0px 25px 5px;
    transform:rotate(360deg)
}
.reset {
    /* position: absolute;
    bottom: 15%; */
    /* border: 1px solid red; */
    width: auto;
    /* margin-top: 3%; */
    display: none;
    justify-content: center;
    align-items: center;
}
.resetBtn {
    height: 55px;
    width: 90px;
    margin-bottom: 15%;
    border: none;
    color: white;
    border-radius: 13px;
    /* padding: 10px 15px; */
    background-color: rgba(255, 255, 255, 0.2);
}
@media screen and ( min-width:850px ) {
    .board {
        width: 420px;
        height: 420px;
    }
    .reset{
        margin-top: 0px;
    }
    .resetBtn {
        border-radius: 10px;
        padding: 3% 5%;
    }
}
@media screen and (max-width:550px) {
    .board {
        /* border: 1px solid red; */
        width: 70vw;
        height: 70vw;
    }
}
@media screen and (max-width:350px) {
    .board {
        /* border: 1px solid forestgreen; */
        width: 85vw;
        height: 85vw;
    }
    .boxes {
        width: 31%;
        height: 31%;
    }
    .boxes {
        border: 1px solid rgba(255, 255, 255, 0.8);
    }
    .box1 ,.box2 ,.box3 {
        border-top: none;
    }
    .box7 ,.box8 ,.box9 {
        border-bottom: none;
    }
    .box1 ,.box4 ,.box7 {
        border-left: none;
    }
    .box3 ,.box6 ,.box9 {
        border-right: none;
    }
}
