body {
  background-color: rgb(0, 53, 53);
  color: white
}

#header {
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
}

#hero {
  border-radius: 10px;
  /* width: 70vw; */
  box-shadow: 0 0 10px  rgba(0, 0, 0, 0.3);
  /* height: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 100px;
}

#input-container {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
}

#input-box {
  border-radius: 5px;
  /* width: 50%; */
}

#btn-container {
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.btn {
  padding: 5px;
}
